.porject_container {
    padding: 2em;
} 

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.projetos span {
    color: #ffbb33;
    font-weight: bold;
    border-bottom: 1px solid #ffbb33;
}

.projetos  {
    color: #000000;
    font-weight: bold;
    border-bottom: 1px solid #000000;
}