.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 10px 70px
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    
}

.item {
    margin-right: 1em;

}

.item a {
    color: #fff;
    text-decoration: none;
}
.item a:hover {
    color: #ffbb33;
    border-bottom:2px solid #ffbb33 ;
    transition: 0.1s;
}